@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* * CSS command :start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
ul,li,a{
  list-style-type: none;
  text-decoration: none;
}
/* * CSS command :end */
body{
  height: auto;
  max-height: 100vh;
  background: black;
  position: relative;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* container CSS command :start */
.container{
  display:flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

}
.container .row{
  display: flex;
  flex-direction: row;
  width: 1200px;
  max-width: 1200px;
  height: auto;
  position: relative;
  justify-content: center;
  
}

/* container CSS command :end */

/* lside CSS command :start */
.lside {
  overflow: auto;
  flex: 1;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  max-width: 252px;
  position: relative;
}


.twittericon {
  margin-top:12px;
  border-radius: 9999px;
  display:flex;
  transform: translateX(20%);
  padding: 5px;
}
.twittericon i:hover{
  color:rgb(250, 250, 250);
}
  
/* Twiter İcon */
.twittericon i {
  color: #D9D9D9;
}

/* Twitter Menu */
.twittermenu {
  margin-top: 5px;
}

/* Twitter Menu ul */

.ultwitter-menu li:hover{
  background: #3a3a3a;
}

.ultwitter-menu li {
  border-radius: 9999px;
  padding: 15px;
  display: flex;
  flex-direction: row; /*  Alt alta */
  margin: 10px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  
}
.ultwitter-menu li,a{
  margin-left:15px;
  color: #D9D9D9;
  transition:all 0.5s ease;
  font-weight: 300;
  font-size: 20px;
}
.ultwitter-menu li i{
  width: 26.25px;
  transition:all 0.5s ease;
}
.ultwitter-menu li:hover i{
  color:black;
}
.ultwitter-menu li:hover a{
  color:black;
}

.buttontweeti{
  display: flex;
  justify-content: center;
  padding: 7px 38px;
  border-radius: 9999px;
  background-color: rgb(29, 155, 240);
  color: #D9D9D9;
  
}

.buttontweet {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 9999px;
  background-color: rgb(29, 155, 240);
  color: #D9D9D9;
}

.menutweet a {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
 
}

.lsprofile {
  width: 80%;
  position: absolute;
  height: 70px;
  display:flex;
  flex-direction: row;
  bottom:15px;
  
  border-radius: 9999px;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(5%);
  padding:10px;
  cursor: pointer;
  transition: all 0.4s ease;
  
}
.lsprofile:hover{
  background: #3a3a3a;
}
.lsprofile img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}
.lsprofile .lsidename{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.borderalt {
  height: 65px !important;
  border-block-end: 1px solid rgb(47, 51, 54);
}

.lsprofile .lsidename a{
  font-size: 0.95rem;
  margin-bottom:4px;
  font-weight: 400;
  min-width: 90px;
}
.lsprofile .lsidename span{
  font-size: 0.68rem;
  margin-left:0.78rem;
  color:#D9D9D9;
  font-weight: 400;
  letter-spacing: 1px;
}
.threedot{
  min-width: 20px;
  position: relative;
}
.threedot i{
  margin-top:-8px;
  position: absolute;
  right: 0;
  
}

.dropdown {
  height: 150px;
  position: absolute;
  bottom:100px !important;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: black;
  gap:10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(218, 216, 216, 0.5)
  
}
/*Dropwdown */
.dropdown .lsprofile{
  top:0;
  width: 90% !important;
  height: 80px;
  border-radius: 0 !important;
  position: relative;
  padding-bottom:20px;
}
.dropdown .lsprofile .threedot{
  position: absolute;
  right: 45px;
}
.dropdown .lsprofile:hover{
  background: none;
}

.dropdown {
  display: none;
}

.dropdown .drop-menu{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85px;
}
.drop-menu li{
  list-style-type: none;
  padding:10px;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
.drop-menu li:hover{
  background: #4a4a4a;
}
.drop-menu li a{
  font-size: 0.95rem;
}

.hidden{
  display:none;
}



/* <div class="popbox">
        <div class="x">
        </div>
        <div class="popchat">
          <img src="" alt="">
          <div class="chatarea">
           <input type="textarea" name="" id="">
           <a href="">Herkes yanıtlayabilir</a>
          </div>
        </div>
        <div class="popfooter">
          <ul>
            <li><a href=""></a></li>
          </ul>
          <a href="">Tweetle</a>
        </div>
</div> */

/* alt alta gelmesi için column */
.popbox {
  padding: 20px 20px;
  display: none;
  flex-direction: column;
  background: black;
  border-radius: 15px;
  max-width: 550px;
  border:1px solid;
  max-height: 260px;
  margin: 0 auto;
  position: absolute;
  color: #D9D9D9;
  left: 0;
  right: 0;
  top: 5vh;
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(218, 216, 216, 0.5)

}
.popchat{
  padding: 20px 20px;
  display:flex;
  color: #D9D9D9;
  flex-direction: row;
}

.popchat img {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  margin-top: 15px;
  
}

.chatarea{
  display:flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  color: #D9D9D9;
  position: relative;
  margin-left: 5px;
  
}
.chatarea .txtarea{
  width: 90%;
  height: 100px;
  background: black;
  color: #D9D9D9;
  border-radius: 5px;
  border:none;
  outline: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  
}

.popfooter {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.popnav{
  display: flex;
  flex-direction: row;
  
}

.popfooter a {
  display: flex;
  width: 25px;
  align-items: center;
  
}

.everyoneResponse{
  display:none;
  position: absolute;
  bottom:65px;
  left:15px;
  font-size: 16px;
  color:rgb(23, 23, 245);
  cursor: pointer;
  font-weight: 500;
}

.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

/* lside CSS command :end */

/* center CSS command :start */
.center {
  width: 600px;
  max-width: 600px;
  overflow: auto;
  height: auto;
  max-height: 1200px;

  display: flex;
  flex-direction: column;
  flex-grow: 3;
  border-right: 1px solid rgb(47, 51, 54);
  border-left: 1px solid rgb(47, 51, 54);
}



.mainarea {
  border-block-end: 1px solid rgb(47, 51, 54);

}

.mainpage {
  color: #D9D9D9;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  font-family: inherit;
  
}

.popbox1 {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  color: #D9D9D9;
  background: black;
  border-radius: 15px;
  max-width: 600px;
  max-height: 170px;
}

.popchat1{
  display:flex;
  color: #D9D9D9;
  flex-direction: row;
}

.popchat1 img {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  margin-top: 15px;
  
  
}

.chatarea1{
  display:flex;
  color: #D9D9D9;
  flex-direction: column;
  height: 140px;
  width: 100%;
  position: relative;
  margin-left: 5px;
  
}
.chatarea1 .txtarea1{
  width: 90%;
  height: 100px;
  background: black;
  color: #D9D9D9;
  border-radius: 5px;
  border:none;
  outline: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  
}

.popfooter1 {
  width: 90%;
  display: flex;
  color: #D9D9D9;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.popnav1{
  display: flex;
  color: #D9D9D9;
  flex-direction: row;
  
}

.popfooter1 a {
  display: flex;
  color: #D9D9D9;
  width: 25px;
  align-items: center;
  
}

.everyoneResponse1{
  display:none;
  position: absolute;
  bottom:65px;
  left:15px;
  font-size: 16px;
  color:rgb(23, 23, 245);
  cursor: pointer;
  font-weight: 500;
}

.box {
  display: flex;
  flex-direction: column;
  border-block-end: 1px solid rgb(47, 51, 54);
  height: auto;
  color: #D9D9D9;
  margin:20px 0px;
  padding-bottom:20px;
}

.box .tweetTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: flex-start;
  color: #D9D9D9;
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}
.box .tweetTitle span:last-child {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #D9D9D9;
}
.box .tweetTitle .titleImg img {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background-size: cover;
}
.box .tweetTitle a{
  max-width: 200px;
  overflow: hidden;
}
.box .tweetTitle .username{
  font-size: 13px;
}
.box .row {
  display: flex;
  margin:0 auto;
  flex-direction: column;
  color: #D9D9D9;
  width: 75%;
  justify-content: center;
}
.box .row .tweetContent{
  overflow: hidden;
  text-align: start;
  margin-bottom:15px;
  color: #D9D9D9;
}
.tweetContentImg{
  display: flex;
  flex-direction: column;
  position: relative;
  color: #D9D9D9;
}
.tweetContentImg span{
position: absolute;
z-index: 999;
bottom:0;
color:#fff;
background: #3a3a3a;
margin:20px 10px 10px 20px;
padding:1px;
}
.tweetContentImg span:last-child{
  margin-left:60px;
}
.box .row .tweetContent p{
  line-height: 22px;
}
.box .row .tweetContent img{
  margin-top:15px;
  background-size: cover;
  border-radius: 15px;
  width: 100%;
}
.box .row .tweetNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  
}
.timer{
  margin-top:2px;
  margin-left:12px;
  font-size: 12px;
  opacity: 0.7;
}
.retweetbox {
  padding: 20px 20px;
  display: none;
  flex-direction: column;
  background: black;
  border-radius: 15px;
  max-width: 550px;
  border:1px solid;
  max-height: 260px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 5vh;
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(218, 216, 216, 0.5)
}




/* center CSS command :end */

/* rside CSS command :start */
.rside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right:1px solid black;
  
}
/* rside CSS command :end */

